# Node.js dependencies
**/node_modules/

# Environment files
**/.env

# Logs
**/*.log
logs/

# Docker artifacts
Dockerfile.dev
docker-compose.override.yml

# Optional: OS / IDE files
.DS_Store
.vscode/
*.swp
